<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Proyecto Final || Sign-Up</title>
</head>
<body class="bg-dark">
  <div class="row">
    <div class="mx-auto col-lg-4">
      <div class="alert alert-dark">
        <h1 class="text-center mb-3">Sign-up</h1>
        <form autocomplete="off" action="/signup" method="post">
          <div class="form-group">
              <label class="mb-1">Username: *</label>
              <input class="form-control" required type="text" name="username"/>
          </div>
          <div class="form-group">
              <label class="mb-1">Email: *</label>
              <input class="form-control" required type="text" name="email"/>
          </div>
          <div class="form-group">
              <label class="mb-1">Password: *</label>
              <input class="form-control" required type="password" name="password"/>
          </div>
          <div class="form-group">
              <label class="mb-1">Name: *</label>
              <input class="form-control" required type="text" name="name"/>
          </div>
          <div class="form-group">
              <label class="mb-1">Adress: *</label>
              <input class="form-control" required type="text" name="adress"/>
          </div>
          <div class="form-group">
              <label class="mb-1">Age: *</label>
              <input class="form-control" required type="number" name="age"/>
          </div>
          <div class="form-group">
            <label class="mb-1">Phone: *</label>
            <div class="d-flex">
              <select class="form-control" id="phone-code" name="phoneCode">
                <% countryCodes.forEach(function(code) { %>
                  <option value="<%= code.code %>">+<%= code.code %> (<%= code.name %>)</option>
                <% }); %>
              </select>
              <input class="form-control" required type="text" name="phone"/>
            </div>
          </div>
          <div class="d-flex flex-column flex-lg-row justify-content-between">
              <div class="form-group m-3">
                <input class="btn btn-dark" type="submit" value="Create User"/>
              </div>
              <div class="form-group m-3">
                <a href="/login">
                    <button type="button" class="btn btn-outline-success">I already have a user</button>
                </a>
              </div>
          </div>
      </form>                  
    </div>          
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>